<form ng-controller="checkinController as ctrl" ng-submit="$event.preventDefault()" name="myForm">

<br />
<div suc-selector selected-item="suc" suc-id="auto_complete_id_1"></div>
<br/>

<md-input-container class="md-block">
    <label translate>Stalls total</label>
    <input required type="number" name="stalls" ng-model="item.stalls" disabled />
</md-input-container>

<md-radio-group required ng-model="item.problem">
    <md-radio-button value="none" class="md-primary" aria-label="No problems"><span translate>No problems</span></md-radio-button>
    <md-radio-button value="limitedPower" aria-label="Limited power"><span translate>Limited power</span></md-radio-button>
    <md-radio-button value="partialFailure" aria-label="Partial failure"><span translate>Partial failure</span></md-radio-button>
    <md-radio-button value="completeFailure" aria-label="Complete failure"><span translate>Complete failure</span></md-radio-button>
    <md-radio-button value="trafficDisruption" aria-label="Traffic disruption"><span translate>Traffic disruption</span></md-radio-button>
</md-radio-group>

<div ng-if="item != undefined && item.stalls != undefined && item.problem != 'none'" stalls-selector nof-stalls="item.stalls" selected="item.affectedStalls"></div>

<md-input-container class="md-block">
    <label translate>Nr charging (incl. you)</label>
    <input type="number" step="1" name="charging" ng-model="item.charging" min="0" max="100" />
</md-input-container>
<md-input-container class="md-block">
    <label translate>Nr blocked</label>
    <input type="number" step="1" name="blocked" ng-model="item.blocked" min="0" max="100" />
</md-input-container>
<md-input-container class="md-block">
    <label translate>Nr waiting</label>
    <input type="number" step="1" name="waiting" ng-model="item.waiting" min="0" />
</md-input-container>

<md-input-container>
    <label translate>Date</label>
    <input required type="date" ng-model="date" name="date">
</md-input-container>

<md-input-container>
    <label translate>Time</label>
    <input required type="time" ng-model="time" name="time">
</md-input-container>
<br />

<md-input-container class="md-block">
    <label translate>TFF Username</label>
    <input required type="text" name="tffUserId" ng-model="tffUserId" max="1000" />
</md-input-container>

<md-input-container class="md-block">
    <label translate>Notes</label>
    <input type="text" name="notes" ng-model="item.notes" max="1000" />
</md-input-container>


<md-button class="md-raised" ng-click="submit()" ng-disabled="item == undefined || submitting || !myForm.$valid"><span translate>Submit</span></md-button>

<!--<br /><br /><br />
myForm.time.$valid = {{myForm.time.$valid}}<br/>
myForm.time.$error = {{myForm.time.$error}}<br/>
myForm.$valid = {{myForm.$valid}}<br/>
myForm.$error = {{myForm.$error}}<br/>
myForm.$error.required = {{!!myForm.$error.required}}<br/>-->

</form>
