<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tesla SuC</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.css" />
    <link rel="stylesheet" href="/static/app.css" />
</head>
<body ng-app="myApp" ng-controller="navController">

    <div layout="column" ng-cloak>
        <md-content class="md-padding">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('submit')" name="submit">Submit</md-nav-item>
            <md-nav-item md-nav-click="goto('history')" name="history">History</md-nav-item>
            <md-nav-item md-nav-click="goto('stats')" name="stats">Stats</md-nav-item>
            </md-nav-bar>


<div ng-if="currentNavItem=='submit'">
    <form ng-controller="teslaController as ctrl" ng-submit="$event.preventDefault()" name="myForm">

    <br />
    <button ng-click="locate()">Locate me</button>
    <md-progress-circular md-mode="indeterminate" ng-if="locating"></md-progress-circular>

    <md-autocomplete
      id="auto_complete_id"
      md-selected-item="ctrl.selectedItem"
      md-search-text-change="ctrl.searchTextChange(searchText)"
      md-search-text="searchText"
      md-selected-item-change="ctrl.selectedItemChange(item)"
      md-items="item in ctrl.querySearch(searchText)"
      md-item-text="item.title"
      md-min-length="3"
      placeholder="SuperCharger">
    <md-item-template>
      <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.title}}</span>
    </md-item-template>
    <md-not-found>
      No results found
    </md-not-found>
    </md-autocomplete>
    <br/>


    <md-input-container class="md-block">
        <label>Stalls total</label>
        <input required type="number" step="1" name="stalls" ng-model="item.stalls" readonly="readonly" />
    </md-input-container>
    <md-input-container class="md-block">
        <label>Charging (incl. you)</label>
        <input required type="number" step="1" name="charging" ng-model="item.charging" min="0" max="10" />
    </md-input-container>
    <md-input-container class="md-block">
        <label>Blocked</label>
        <input required type="number" step="1" name="blocked" ng-model="item.blocked" min="0" max="10" />
    </md-input-container>
    <md-input-container class="md-block">
        <label>Waiting</label>
        <input required type="number" step="1" name="waiting" ng-model="item.waiting" min="0" />
    </md-input-container>

    <!--<md-datepicker ng-model="item.date" name="date" md-placeholder="Enter date">
    </md-datepicker>-->

    <md-input-container>
        <label>Date</label>
        <input required type="date" ng-model="date" name="date">
    </md-input-container>

    <md-input-container>
        <label>Time</label>
        <input required type="time" ng-model="time" name="time">
    </md-input-container>
    <br />

    <md-input-container class="md-block">
        <label>TFF Username</label>
        <input required type="text" name="tffUserId" ng-model="tffUserId" max="1000" />
    </md-input-container>

    <md-input-container class="md-block">
        <label>Notes</label>
        <input type="text" name="notes" ng-model="item.notes" max="1000" />
    </md-input-container>


    <md-button class="md-raised" ng-click="submit()" ng-disabled="item == undefined || submitting || !myForm.$valid">Submit</md-button>

    <!--<br /><br /><br />
    myForm.time.$valid = {{myForm.time.$valid}}<br/>
    myForm.time.$error = {{myForm.time.$error}}<br/>
    myForm.$valid = {{myForm.$valid}}<br/>
    myForm.$error = {{myForm.$error}}<br/>
    myForm.$error.required = {{!!myForm.$error.required}}<br/>-->

    </form>
</div>

<div ng-if="currentNavItem=='history'">
    <div ng-controller="historyController">
    <md-list flex>
        <md-subheader class="md-no-sticky">
            Export <a href="/checkin">Json</a>/<a href="/checkin?format=csv">CSV</a><br />
            <md-input-container class="tight">
                <label>Filter</label>
                <input ng-model="filterText">
            </md-input-container>
        </md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in items" ng-click="null">
          <img ng-src="" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
            <h3><span md-highlight-text="filterText" md-highlight-flags="^i">{{item.suc.title}}</span></h3>
            <h4>{{ item.suc.stalls }} / {{ item.checkin.charging }} / {{ item.checkin.blocked }} / {{ item.checkin.waiting }}</h4>
            <h4>{{ item.checkin.notes }}</h4>
            <p>{{ item.checkin.time | date:'yyyy-MM-dd HH:mm Z' }}</p>
          </div>
        </md-list-item>
    </md-list>
    </div>
</div>

<div ng-if="currentNavItem=='stats'">
    <div ng-controller="statsController">
    <md-list flex>
        <md-subheader class="md-no-sticky">
        </md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in items" ng-click="null">
          <img ng-src="" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
              <h3>{{ item.country }}</h3>
              <h4>SuperChargers: {{ item.sucs }}<br />Check-ins: {{ item.checkins }}</h4>
          </div>
        </md-list-item>
    </md-list>
    </div>
</div>

      </md-content>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>