<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title translate>Tesla SuC</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css" />
    <link rel="stylesheet" href="/static/app.css" />
</head>
<body ng-app="myApp" ng-controller="navController">

    <div layout="column" ng-cloak>
        <md-content class="md-padding">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <!--<md-nav-item md-nav-href="#/" name="overview"><span translate>Overview</span></md-nav-item>-->
                <md-nav-item md-nav-href="https://tesla.aine.ch"><span translate>Overview</span></md-nav-item>
                <md-nav-item md-nav-href="#/" name="checkin"><span translate>Checkin</span></md-nav-item>
                <md-nav-item md-nav-href="#/history" name="history"><span translate>History</span></md-nav-item>
                <md-nav-item md-nav-href="#/stats" name="stats"><span translate>Stats</span></md-nav-item>
            </md-nav-bar>

            <div class="div-lang-selector">
                <a ng-click="switchLanguage('en')" ng-class="{'inactive-lang': lang != 'en'}">EN</a>
                <a ng-click="switchLanguage('de')" ng-class="{'inactive-lang': lang != 'de'}">DE</a>
                <a ng-click="switchLanguage('fr')" ng-class="{'inactive-lang': lang != 'fr'}">FR</a>
            </div>

            <ng-view></ng-view>


            <br /><br />
            <span style="font-size: small"><a href="https://github.com/flarno11/teslasuc" translate>Tesla SuC project on Github</a></span>
      </md-content>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    <script src="/static/angular-gettext.min.js"></script>
    <script src="/static/translations.js"></script>
    <script src="/config.js"></script>
    <script src="/static/app.js"></script>
    <script src="/static/charts.js"></script>
</body>
</html>