<md-button ng-href="#/stats">Overview</md-button>
<md-button ng-if="country" ng-href="#/stats/country/{{ country }}">{{ country }}</md-button>
<md-button ng-if="superChargerTitle" ng-href="#/stats/superCharger/{{ superCharger }}">{{ superChargerTitle }}</md-button>

<md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>

<div ng-if="country == undefined && superCharger == undefined">
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="c in countries" ng-href="#/stats/country/{{ c.country }}">
          <img ng-src="" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
              <h3>{{ c.country }}</h3>
              <h4><span translate>SuperChargers</span>: {{ c.sucs }}<br /><span translate>Check-ins</span>: {{ c.checkins }}<br /><span translate>Average utilization</span>: {{ c.utilization * 100| number :0 }}%</h4>
          </div>
        </md-list-item>
    </md-list>

    <br />
    <span translate>Utilization = #charging / #stalls</span>
</div>

<div ng-if="country != undefined && superCharger == undefined">
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="suc in superChargers" ng-href="#/stats/superCharger/{{ suc.locationId }}">
          <img ng-src="" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
              <h3>{{ suc.title }}</h3>
              <h4><span translate>Stalls</span>: {{ suc.stalls }}<br />
                  <span translate>Check-ins</span>: {{ suc.checkins }}<br />
                  <span translate>Average utilization</span>: {{ suc.utilization * 100| number :0 }}%
              </h4>
          </div>
        </md-list-item>
    </md-list>

    <br />
    <span translate>Utilization = #charging / #stalls</span>
</div>

<div ng-if="superCharger != undefined">
    <div ng-if="!superChargerStatsEmpty" data-google-chart style="height: 300px;" data-chart-y-title="" data-chart-type="AnnotationChart" data-chart-data="superChargerStats" data-chart-options="superChargerChartOptions"></div>
    <span ng-if="superChargerStatsEmpty" translate>No utilization data available yet.</span>
</div>