
<button ng-click="locate()" translate>Locate me</button>
<md-progress-circular md-mode="indeterminate" ng-if="locating" class="locate-progress"></md-progress-circular>

<md-autocomplete
  id="{{sucId}}"
  md-selected-item="selectedItem"
  md-search-text-change="searchTextChange(searchText)"
  md-search-text="searchText"
  md-selected-item-change="selectedItemChange(item)"
  md-items="item in querySearch(searchText)"
  md-item-text="item.title"
  md-min-length="3"
  md-require-match="true"
  placeholder="{{ 'SuperCharger' | translate }}">
<md-item-template>
  <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.title}}</span>
</md-item-template>
<md-not-found translate>No results found</md-not-found>
</md-autocomplete>
