<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuC legacy form submission</title>
    <style>
        body {
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        }
    </style>
</head>
<body>

{% if msg %}
<h2>{{ msg }}</h2>
{% endif %}

{% for c in countries %}
<a href="/?legacy=true&country={{ c }}">{{ c}}</a>
{% endfor %}
<a href="/?legacy=true&country=others">All others</a>
<br /><br />

<form action="/checkin?legacy=true" method="post">
    <input type="hidden" name="stalls" value="0" />
    <table>
        <tr>
            <td>SuperCharger:</td>
            <td>
                <select name="locationId" id="locationId" required onchange="superChargerSelected()">
                <option></option>
                {% for s in superChargers %}
                    {% if s.locationId == preselectedSupercharger %}
                        <option value="{{ s.locationId }}" selected>{{ s.country }} {{ s.title }} ({{ s.stalls }})</option>
                    {% else %}
                        <option value="{{ s.locationId }}">{{ s.country }} {{ s.title }} ({{ s.stalls }})</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Problem:</td>
            <td>
                <select name="problem" required>
                    <option></option>
                    {% for problem in problems %}
                        {% if problem.0 == lastCheckin.problem %}
                            <option value="{{ problem.0 }}" selected>{{ problem.1 }}</option>
                        {% else %}
                            <option value="{{ problem.0 }}">{{ problem.1 }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Select Stalls / Stall Auswahl:</td>
            <td style="white-space: nowrap">
                {% for stall in stalls %}
                    {% if stall in lastCheckin.affectedStalls %}
                        <input type="checkbox" name="affectedStalls" value="{{ stall }}" id="affectedStalls{{ stall }}" checked />
                    {% else %}
                        <input type="checkbox" name="affectedStalls" value="{{ stall }}" id="affectedStalls{{ stall }}" />
                    {% endif %}
                    <label for="affectedStalls{{ stall }}">{{ stall }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Charging (incl. you) / Am Laden (inkl. dir):</td>
            <td><input name="charging" type="text" value="" /></td>
        </tr>
        <tr>
            <td>Waiting / Am Warten:</td>
            <td><input name="waiting" type="text" value="" /></td>
        </tr>
        <tr>
            <td>Blocked / Blockiert:</td>
            <td><input name="blocked" type="text" value="" /></td>
        </tr>
        <tr>
            <td>Time:</td>
            <td><input name="time" type="text" value="{{ time }}" required /></td>
        </tr>
        <tr>
            <td>TFF Username:</td>
            <td><input name="tffUserId" type="text" value="{{ tffUserId }}" required /></td>
        </tr>
        <tr>
            <td>Notes (optional):</td>
            <td><textarea name="notes">{{ lastCheckin.notes }}</textarea></td>
        </tr>
    </table>

    <input type="submit" value="Submit" />
</form>

<script>
    function superChargerSelected() {
        var x = document.getElementById("locationId").value;
        location.href = '/?legacy=true&locationId=' + x;
    }
</script>

</body>
</html>