<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuC legacy form submission</title>
    <style>
        body {
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        }
    </style>
</head>
<body>

{% if msg %}
<h2>{{ msg }}</h2>
{% endif %}

{% for c in countries %}
<a href="/?legacy=true&country={{ c }}">{{ c}}</a>
{% endfor %}
<a href="/?legacy=true&country=others">All others</a>
<br /><br />

<form action="/checkin?legacy=true" method="post">
    <input type="hidden" name="stalls" value="0" />
    <table>
        <tr>
            <td>SuperCharger:</td>
            <td>
                <select name="locationId" required>
                <option></option>
                {% for s in superChargers %}
                    {% if s.locationId == preselectedSupercharger %}
                        <option value="{{ s.locationId }}" selected>{{ s.country }} {{ s.title }} ({{ s.stalls }})</option>
                    {% else %}
                        <option value="{{ s.locationId }}">{{ s.country }} {{ s.title }} ({{ s.stalls }})</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Problem:</td>
            <td>
                <select name="problem" required>
                    <option></option>
                    <option value="none">No problems / Keine Probleme</option>
                    <option value="limitedPower">Limited power / Leistungseinschränkung</option>
                    <option value="partialFailure">Partial failure / Teilausfall</option>
                    <option value="completeFailure">Complete failure / Totalausfall</option>
                    <option value="trafficDisruption">Traffic disruption / Verkehrsbeeinträchtigung</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Select Stalls / Stall Auswahl:</td>
            <td style="white-space: nowrap">
                <input type="checkbox" name="affectedStalls" value="1A" id="affectedStalls1A" /><label for="affectedStalls1A">1A</label>
                <input type="checkbox" name="affectedStalls" value="1B" id="affectedStalls1B" /><label for="affectedStalls1B">1B</label>
                <input type="checkbox" name="affectedStalls" value="2A" id="affectedStalls2A" /><label for="affectedStalls2A">2A</label>
                <input type="checkbox" name="affectedStalls" value="2B" id="affectedStalls2B" /><label for="affectedStalls2B">2B</label>
                <input type="checkbox" name="affectedStalls" value="3A" id="affectedStalls3A" /><label for="affectedStalls3A">3A</label>
                <input type="checkbox" name="affectedStalls" value="3B" id="affectedStalls3B" /><label for="affectedStalls3B">3B</label>
                <input type="checkbox" name="affectedStalls" value="4A" id="affectedStalls4A" /><label for="affectedStalls4A">4A</label>
                <input type="checkbox" name="affectedStalls" value="4B" id="affectedStalls4B" /><label for="affectedStalls4B">4B</label>
                <input type="checkbox" name="affectedStalls" value="5A" id="affectedStalls5A" /><label for="affectedStalls5A">5A</label>
                <input type="checkbox" name="affectedStalls" value="5B" id="affectedStalls5B" /><label for="affectedStalls5B">5B</label>
            </td>
        </tr>
        <tr>
            <td>Charging (incl. you) / Am Laden (inkl. dir):</td>
            <td><input name="charging" type="text" value="" /></td>
        </tr>
        <tr>
            <td>Waiting / Am Warten:</td>
            <td><input name="waiting" type="text" value="" /></td>
        </tr>
        <tr>
            <td>Blocked / Blockiert:</td>
            <td><input name="blocked" type="text" value="" /></td>
        </tr>
        <tr>
            <td>Time:</td>
            <td><input name="time" type="text" value="{{ time }}" required /></td>
        </tr>
        <tr>
            <td>TFF Username:</td>
            <td><input name="tffUserId" type="text" value="{{ tffUserId }}" required /></td>
        </tr>
        <tr>
            <td>Notes (optional):</td>
            <td><textarea name="notes"></textarea></td>
        </tr>
    </table>

    <input type="submit" value="Submit" />
</form>
</body>
</html>